# Created by https://www.gitignore.io/api/C
# Edit at https://www.gitignore.io/?templates=C

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
unit_tests

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
.gdb_history
vgcore*
*.gcda
*.gcno

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Submodule stuff
dependency/build

# Epitech file architecture helper
.bash_history
.idea
.viminfo
CMake*
cmake*
compile_commands.json
debugmain.c
tests_run
utests*
progressbar.py

# End of https://www.gitignore.io/api/C
